.Form {
  --input-height: 40px;
  --input-padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: var(--g1);
}

.Form label {
  display: block;
}

.Form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Form fieldset {
  display: block;
  padding: 1rem;

  border: 1px solid #ccc;
  border-radius: 0.5rem;

  appearance: none;
}

.Form input[type="text"],
.Form input[type="number"] {
  display: block;
  height: var(--input-height);
  padding: var(--input-padding);
  width: 100%;

  font-size: 16px;

  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Form select {
  display: block;
  height: var(--input-height);
  padding: var(--input-padding);
  width: 100%;

  font-size: 16px;

  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Form textarea {
  display: block;
  min-height: 64px;
  padding: var(--input-padding);

  font-size: 16px;

  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
