[class*="button"] {
  appearance: none;
  border: none;
  cursor: pointer;
}

.button\:default {
  padding: 8px 16px;

  font-size: 14px;
  font-weight: bold;

  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;

  transition: background-color 150ms ease-in-out;
}

.button\:default:hover {
  background-color: #f8f8f8;
}
