.form {
  --input-height: 40px;
  --input-padding: 8px;
}

.form label {
  display: block;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input[type="text"],
.form input[type="number"] {
  display: block;
  height: var(--input-height);
  padding: var(--input-padding);
  width: 100%;

  font-size: 16px;

  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form select {
  display: block;
  height: var(--input-height);
  padding: var(--input-padding);
  width: 100%;

  font-size: 16px;

  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form textarea {
  display: block;
  min-height: 64px;
  padding: var(--input-padding);

  font-size: 16px;

  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
