.block-gap {
  --gap: 16px;
}

[class*="block-gap"] {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.block-gap\:8px {
  --gap: 8px;
}
.block-gap\:24px {
  --gap: 24px;
}
.block-gap\:32px {
  --gap: 32px;
}

.display\:flex {
  display: flex;
}

.display\:grid {
  display: grid;
}

.gap\:16px {
  gap: 16px;
}
