/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  /* Color styles */
  --g1: rgba(32, 32, 32, 1);
  --g2: rgba(51, 51, 51, 1);
  --g3: rgba(65, 65, 65, 1);
  --g4: rgba(92, 91, 91, 1);
  --g5: rgba(110, 107, 107, 1);
  --g6: rgba(124, 124, 124, 1);
  --g7: rgba(153, 151, 151, 1);
  --g8: rgba(174, 174, 174, 1);
  --g9: rgba(189, 189, 189, 1);
  --g10: rgba(216, 216, 216, 1);
  --g11: rgba(238, 238, 238, 1);
  --g12: rgba(255, 255, 255, 1);

  --c1: rgba(35, 145, 192, 1);
  --c2: rgba(255, 230, 0, 1);
  --c3: rgba(24, 177, 113, 1);
  --c4: rgba(234, 70, 34, 1);

  --gr1: linear-gradient(90.44deg, #ffffff 1.97%, #eeeeee 98.3%);
  --gr2: linear-gradient(96.02deg, #ea4622 0%, #a83218 100%);
  --gr3: linear-gradient(96.02deg, #18b171 0%, #1a6948 100%);
  --gr4: linear-gradient(180deg, #2391c0 0%, #03384f 100%);
  --gr5: linear-gradient(180deg, #ffe600 0%, #fff491 100%);
  --gr6: linear-gradient(101.35deg, #333333 6.22%, #202020 93.37%);

  /* Effect styles */
  --text--shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: "Silka Web";
  src: url("/fonts/silka-regular-webfont.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Silka Web";
  src: url("/fonts/silka-regularitalic-webfont.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Silka Web";
  src: url("/fonts/silka-bold-webfont.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Silka Web";
  src: url("/fonts/silka-bolditalic-webfont.woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Silka Web";
  src: url("/fonts/silka-black-webfont.woff2");
  font-weight: 900;
  font-display: swap;
}

:root {
  --font-family: "Silka Web", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 16px;
  --font-size-h4: 12px;
  --font-size-paragraph: 14px;
}

html,
body {
  font-family: var(--font-family);
}

.h1 {
  font-size: var(--font-size-h1);
}
.h2 {
  font-size: var(--font-size-h2);
  font-weight: bold;
}
.h3 {
  font-size: var(--font-size-h3);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.3;

  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.h4 {
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size-h4);
  line-height: 1.16;
  text-transform: uppercase;

  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.paragraph {
  font-size: var(--font-size-paragraph);
}

/* 
  * Media Queries
  ? =======================================================
*/

@media (min-width: 900px) {
  :root {
    --font-size-h1: 72px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-paragraph: 16px;
  }
}

#__next {
  height: 100vh;
  width: 100vw;

  display: grid;
}

@media (min-width: 900px) {
  #__next {
    grid-template-columns: auto 1fr;
  }
}
